<%= form_for @bike do |bike| %>
  <div class="form-group">
    <label for="name">Name:</label>
    <%= bike.text_field :name, placeholder: "Enter your bike's name", class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="brand">Brand:</label>
    <%= bike.text_field :brand, placeholder: "Enter the brand of your bike", class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="model">Model:</label>
    <%= bike.text_field :model, placeholder: "Enter the model type", class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="brand">Year:</label>
    <%= bike.number_field :build, placeholder: "Enter year of production", class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="brand">Odometer:</label>
    <%= bike.number_field :odometer, placeholder: "Enter the amount of km on your odometer", class: "form-control" %>
  </div>




  <%= bike.submit "Create Bike", class: "btn btn-default" %>
<% end %>
